.long-button {
    font-family: Instrument;
    justify-content: space-between;
    height: 29px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 0.6px solid white;
    border-radius: 8px;
    padding: 6px 10px 6px 8px;
    background: radial-gradient(43.32% 110% at 50.2% 147.14%, rgba(72, 176, 101, 0.8) 0%, rgba(26, 65, 37, 0.8) 100%);
    border: 0.6px solid;
    border-image-source: radial-gradient(230.08% 395.45% at 44.31% -6.82%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 14.34%, rgba(255, 255, 255, 0.7) 49.73%);
}
.long-button a {
    font-family: Instrument;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
}
.banner__content .banner__box {
    display: flex;
    flex-direction: column;
}
.banner__box .banner__heading {
    font-family: 'Instrument';
    font-size: 70px;
    font-weight: 500;
    line-height: 77px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-top: 16px;
}
.banner__content .banner__box {
    padding: 0;
}
.banner__text p {
    width: 60%;
    font-family: 'Instrument';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: var(--Text-White, #FFFFFFB2);
}
.banner__text {
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-with-review {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-top: 30px;
    margin-top: 0px;
}
.btn-with-review .banner__buttons a {
    font-family: 'Instrument';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.96px;
    text-align: center;
    padding: 16px 34px 18px 34px;
}
.review-with-text img {
    width: 128px;
    height: 19px;
}
.review-with-text .review-text {
    font-family: 'Instrument';
    font-size: 15px;
    font-weight: 400;
    line-height: 18.3px;
    text-align: left;
}
.review-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.banner__box {
    box-shadow: 0px 0px 40px 0px #48B06566;
}
.banner__heading .banner__text {
    padding-top: 14px;
    margin-top: 0;
}

.banner__media img {
    object-fit: fill;
}
.banner__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 100px;
}